@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


h1 {
  font-size: 56px;
  margin: 0 0 12px 0;
  line-height: 1.2;
}

.input_container {
    display: flex;
    align-items: center;
    position: relative;
}

@media (max-width: 768px) {
    .input_container {
        flex-direction: column;
        gap: 4px;
    }
}

.primary_input {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.primary_input:focus {
  outline-color: #7a33ff;
}

.primary_input::placeholder {
  color: #bdbdbd;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 200;
}

.primary_input:disabled {
  background-color: #8b8b8b;
  color: #bdbdbd;
}

.primary_button {
  width: 100px;
  margin-left: 4px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #7a33ff;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.primary_button:hover {
  cursor: pointer;
  background-color: #551cbf;
}


@media (max-width: 768px) {
    .primary_button,
    .primary_input {
        min-width: 300px;
        margin-left: 0;
    }
}

img {
    margin-top: 20px;
    display: none;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #7a33ff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: 12px;
    display: none;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
  position: absolute;
  bottom: 30px;
  font-size: 13px;
  font-weight: 400;
  color: #636363;
}